.productH1 {
    font-size: 1em;
    text-transform: uppercase;
}

.colorList {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.productDescription {
    font-weight: 200;
}