.productH1 {
    font-size: 1em;
    text-transform: uppercase;
}

.colorList {
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
}

.productDescription {
    font-weight: 200;
}

.colorPicker {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}